.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 2rem;
  margin-bottom: 2rem;
}

.selectGroup {
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 550px) {
  .selectGroup {
    flex-direction: column;
  }
}

.selectGroup > select {
  padding: 0.25 rem;
  border: 1px solid #1e4266;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
.selectGroup > button {
  background-color: #244b91;
  color: white;
  border: 1px solid #244b91;
  border-radius: 0.5rem;
  cursor: pointer;
}
.selectGroup > button:hover {
  background-color: white;
  border: 1px solid #244b91;
  color: #244b91;
  border-radius: 0.5rem;
}

.form_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.75rem;
  align-items: center;
  color: white;
  background-color: #244b91;
  border: 1px solid #244b91;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
}
small {
  font-size: 0.75rem;
}

.form_link:hover {
  text-decoration: none;
  background-color: white;
  color: #244b91;
}

.result {
  display: flex;
  margin: auto;
  background-color: #244b91;
  border-radius: 0.5rem;
}

.no_category {
  display: flex;
  margin: auto;
  background-color: #244b91;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;
}

a:hover {
  text-decoration: none;
}
