
/* General Styles */

  body {
    padding: 0% !important;
  }
  .container-fluid {
    padding: 0px !important;
  }
  .container {
    padding: 0px !important;
  }
  .navbar {
    padding: 0px !important;
  }
  h2 {
    font-size: 36px !important;
  }
  h3 {
    font-size: 56px;
  }
  h4 {
    font-size: 32px !important;
  }
  h5 {
    font-size: 28px !important;
  }
  h6 {
    font-size: 24px !important;
  }
  p {
    font-size: 20px;
    padding: 0px !important;
  }
  .row {
    padding: 0px !important;
    width: 100%;
  }
  .separation-lines {
    height: 5px;
    width: 100%;
  }
  .f-right {
    float: right !important;
  }
  .tc-white {
    color: white;
  }
  .f-weigth-200 {
    font-weight: 200;
  }
  .f-weigth-600 {
    font-weight: 600;
  }
  .f-size-16 {
    font-size: 16px;
  }
  .w-50 {
    width: 50% !important;
  }
  .justify-text {
    text-align: justify;
  }
  .center-text {
    text-align: center;
  }
  .content-center {
    justify-content: center;
  }

/* Navbar Styles. */

  .my-navbar {
    background-color: white;
  }
  .my-navbar-brand {
    width: 40% !important;
    margin: 1%;
    margin-left: 5%;
  }
  .my-navbar-logo {
    width: 100% !important;
  }
  .my-navbar-nav {
    display: inline-block;
    margin-right: 5%;
  }

/* Carousel Styles. */

  .my-carousel-image {
    height: 50% !important;
    opacity: 0.5;
  }

/* Stadistics Styles. */

  .stadistics {
    background-color: #3D67A0;
    justify-content: center;
  }
  .stadistics-icon {
    color: white;
  }
  .stadistics-title {
    color: white;
    font-size: 4rem;
    text-align: center !important;
  }
  .stadistics-text {
    color: white;
    font-size: 2rem;
    text-align: center;
  }

/* Programs Styles */

  .programs-text {
    display: inline-block;
    justify-content: center;
    margin-right: 0 !important;
  }
  .programs-logo {
    width: 20%;
    height: 15%;
    float: right;
  }
  .programs-button {
    position: relative;
    left: 20%;
    transform: translate(-20%);
  }

/* Courses Styles */

  .courses-title {
    float: right;
  }
  .courses-text {
    justify-content: center;
    margin-left: 0 !important;
    float: right;
  }
  .courses-logo {
    width: 20%;
    height: 12%;
    display: inline-block;
  }
  .courses-button {
    position: relative;
    left: 80%;
    transform: translate(-80%);
  }
  
/* Aliados Styles */

  .aliados-row {
    height: 20%;
  }
  .aliado-logo {
    width: 20%;
    height: 15%;
  }

/* MyFooter Styles */

  .my-footer {
    background-color: #3D67A0;
  }
  .my-footer-logo {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .my-footer-title {
    justify-content: center;
  }
  .my-footer-link {
    color: white;
    padding: 0px !important;
    transition: color 1s;
  }
  .my-footer-link:hover {
    color: #FDD000;
    text-decoration: none;
  }
  .my-footer-sm {
    position: relative;
    left: 27%;
    transform: translate(-50%);
  }
  .my-footer-sm-logo {
    width: 20% !important;
  }

/* Company View Styles */

  .company-logo {
    height: 25%;
  }