
/* Navbar Styles. */

.my-navbar-logo {
  width: 20% !important;
  font-size: 3rem !important;
  margin-right: 40% !important;
}
.my-navbar-links {
  margin-right: 0 !important;
  width: auto;
  float: right !important;
  position: relative;
  right: 0 !important;
}
.navbar-collapse {
  position: relative;
  right: 0;
  width: auto;
  margin: 0;
}

/* Carousel Styles. */



/* Image Stadistics Styles. */

.image-stadistics {
  width: 88%;
  height: auto;
  margin: 6%;
}

